@media (max-width: 800px) {
    nav p{
        display: none;
    }   
    nav img{
        display: flex;
    } 
    header section {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-around;
    }
    .container {
    display: grid;
    margin: 50px;
    justify-content: center;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(2, 20rem);
    gap: 10px 10px; 
    grid-template-areas: 
        "block1 block1 "
        "block2 block3"
        "block4 block5"
        "block6 block6";  
        color: white;
    }
    input {
        height: 30px;
        width: 40px;
        padding-left: 30px;
        background-image: url(../imagenes/lupa.png);
        background-repeat: no-repeat;
        border: 0px;
        background-size: 25px 100%;
        border-radius: 5px;
    }
}