/* @import url(//db.onlinewebfonts.com/c/4313d7354c9b8afe25e1a98773ade48d?family=MM+Headline+Pro+WebTT+Regular); */
header {
  background-color: #df0000;
  height: 75px;
  display: flex;
  align-items: center;

}
header section {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
svg {
  height: 30px;
}
h2 {
  color: white;
  font-family: sans-serif;
  width: 65%;
  margin: 0px;
}
header img {
  height: 35px;
}
.buscar {
  background-color: transparent;
  border: 0px;
}
input {
  height: 30px;
  width: 250px;
  padding-left: 30px;
  background-image: url(../imagenes/lupa.png);
  background-repeat: no-repeat;
  border: 0px;
  background-size: 25px 100%;
  border-radius: 5px;
}
.sectionnav {
  background-color: #292929;
  color: rgb(226, 225, 225);
  height: 50px;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
nav {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
nav img {
  display: none;
}
body {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
/* BANNER */
.banner {
  display: flex;
  margin: auto; 
  justify-content: space-between;
  align-items: center;
}
.banner img {
  height: 120px;
  margin: 0px;
  margin-left: 40px;
}
.banner p {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  margin: 10px;
  height: 50px;
  background-color: #cccccc;
}
/* GRID */
.container {
  display: grid;
  margin: 50px;
  margin-top: 10px;
  justify-content: center;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(2, 20rem);
  gap: 10px 10px; 
  grid-template-areas: 
    "block1 block1 block2 block3"
    "block4 block5 block6 block6";  
    color: white;
}
#block1 {
  grid-area: block1;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
#block1 section {
  background-color: #292929;
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  padding: 10px;
}
#block1 article {
  background-color: #df0000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  width: 50%;
}
#block1 section p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
}
#block1 article p {
  background-color: #292929;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 0px 25px 0px 25px;
  font-size: 40px;
}
#block1 img {
  border-radius: 15px;
  height: 200px;
}
#block2 {
  grid-area: block2;
  background-color: #292929;
  color: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#block2 img {
  border-radius: 5px;
  height: 150px;
}
#block2 p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 0px;
}
#block2 section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#block2 h5 {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin: 10px;
  color: red;
}
#block2 h6 {
  font-size: 14px;
  color: #cccccc;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#block3 {
  grid-area: block3;
  background-color: #292929;
  color: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#block3 img {
  border-radius: 5px;
  height: 150px;
}
#block3 p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 0px;
}
#block3 section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#block3 h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  margin: 10px;
  color: red;
}
#block3 h6 {
  font-size: 14px;
  color: #cccccc;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#block4 {
  grid-area: block4;
  background-color: #292929;
  color: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#block4 img {
  border-radius: 5px;
  height: 150px;
}
#block4 p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 0px;
}
#block4 section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#block4 h5 {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin: 10px;
  color: red;
}
#block4 h6 {
  font-size: 14px;
  color: #cccccc;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#block5 {
  grid-area: block5;
  background-color: #292929;
  color: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#block5 img {
  border-radius: 5px;
  height: 150px;
}
#block5 p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 0px;
}
#block5 section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#block5 h5 {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin: 10px;
  color: red;
}
#block5 h6 {
  font-size: 14px;
  color: #cccccc;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#block6 {
  grid-area: block6;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
#block6 section {
  background-color: #292929;
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  padding: 10px;
}
#block6 section p {
  font-family: sans-serif;
  color: #cccccc;
  font-size: 14px;
}
#block6 article {
  background-color: #df0000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  width: 50%;
}
#block6 article p {
  background-color: #292929;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 0px 25px 0px 25px;
  font-size: 40px;
}
#block6 img {
  border-radius: 15px;
  height: 200px;
}
h1 {
  color: red;
  font-family: sans-serif;
}
/* FOOTER */
footer {
  padding: 20px;;
  margin: auto;
  background-color: #494745;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer span {
  color: #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
footer h5 {
  color: #a5a5a5;
}
